<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICisterna" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFjoks/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICisterna"
                contract="ServiceReference1.ICisterna" name="BasicHttpBinding_ICisterna" />
        </client>
    </system.serviceModel>
</configuration>